.grid-projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 32px;
}

.post-card {
  height: 100%;
}

/* .grid-projects > article {
  width: 100%;
} */

.project-img {
  height: 320px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .grid-projects {
    grid-template-columns: 1fr;
    grid-gap: 32px;
    column-gap: 32px;
  }
}
